.checkout__container > button {
    background-color: #3e91fe;
    border: 1px solid #3e91fe;
    border-radius: 17px;
    padding:10px;
    margin-top: 35px;
    margin-left: 500px; 
}
.checkout__container > button:hover {
    border: 2px solid white;
}


.bottomBox {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px; 
    margin-top: 10px;
  }
  
.checkoutLeft {
    background-color: #FFFFFF; 
    border: 1px solid #CCCCCC; 
    border-radius: 8px; 
    padding: 20px
}
/* .checkoutLeft textarea {
    height: 150px;} */

.checkoutPrice {
    width: 200px; 
    height: 200px; 
    background-color: #F0F0F0; 
    border: 1px solid #CCCCCC; 
    border-radius: 8px; 
    padding: 20px; 
}

.checkoutListing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutBox{
    width: 60%;
    margin: 0 auto; 
    padding: 20px;
}


.customSmallerText {
    font-size: 0.7rem; /* Adjust the font size as needed */
  }