.checkout__container {
  display: flex;
  justify-content: center;
  padding: 50px;
  border-radius: 5px;
  height: calc(100vh - 100px);
  /* background-color: rgb(239, 243, 229); */
}

.checkoutBox {
  width: 600px;
  padding: 20px;
}

.bottomBox {
  padding-top: 30px;
}

.checkoutPrice {
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 300px;
  padding: 30px;
  height: 325px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(34, 32, 32, 0.51) 0px 4px 6px, rgba(19, 16, 16, 0.619) 0px 6px 15px;
}

.total {
  padding-top: 10px;
  padding-bottom: 25px;
}

.checkout__hr {
  padding: 0.5px;
  background-color: rgba(0, 0, 0, 0.443);
}

.customSmallerText {
  font-size: 0.7rem; /* Adjust the font size as needed */
}

.checkout__btn {
  border-radius: 5px;
  color: white;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .checkout__container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .checkoutBox {
    width: 100%;
  }
  .checkoutPrice {
    margin: 0 auto 15px auto;
    box-shadow: none;
  }
}
