.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: -2;
  }
  
.home > img {
  /* top: 0; */
  position: relative;
  /* z-index: -3; */
  filter: hue-rotate(18deg);
}

.search__bar{
  position: absolute;
  top: 300px;
  width: 900px;
  display: flex;
  justify-content: center;
}

.home__img__wrapper {
  display: flex;

}

.home__img__text1 {
  font-size: x-large;
  padding-top: 80px;
  padding-right: 50px;
  /* text-shadow: 1px 1px 2px rgba(158, 193, 150, 0.681); */
}
.home__img__text2 {
  font-size: x-large;
  padding-top: 70px;
  padding-left: 50px;
}

.home__img__china {
  width: 300px;
  height: 200px;
  margin-top: 50px;
  border-radius: 5px;
}

.home__img__packing {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}