.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: -2;
  }
  
.home > img {
  /* top: 0; */
  position: relative;
  /* z-index: -3; */
  border: 2px solid black;
}

.search__bar{
  position: absolute;
  top: 300px;
  width: 900px;
  display: flex;
  justify-content: center;
}