.wholePage{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

/* 3 parts of the page */
.left{
    flex: 0.4;
    margin-left: 4px;
}

.middle{
    flex: 0.4;
    margin-left: 4px;
}

.right{
    flex:.2;
}

/* card that handles the size, address, posted at */
.listingCard{
    border-bottom: 1px solid black;
    margin-top: 10px;
}

.listingText{
    margin: 2px;
}

.desc{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
}


.custom-carousel-container {
    width: 100%; 
    height: 400px;
    z-index: 1;
  }

  .priceCard{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 118px;
  }

  .bookButton{
    float: right;
  }

  .calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;

  }