/* Navbar container */
.nav {
  background-color: white;
  display: flex;
  height: 75px;
  width: 100%;
  /* border-bottom: 1px solid black; */
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 30px;
}

/* Logo/image */
.nav__logo {
  margin-right: 20px;
}

/* Navbar items on the right */
.nav__end {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 10px;
  margin-left: 10px;
}

.nav__logo {
  width: 50px;
}

.nav__logo__wrapper {
  display: flex;
  align-items: center;
}

.nav__logo__text {
  font-size: x-large;
}


@media only screen and (max-width: 768px) {
 .nav {
  height: 120px;
 }
 .nav__end {
  /* display: flex; */
  padding-top: 85px;
}
.nav__item {
  margin-right: 0px;
}

}
