.nav {
  background-color: white;
  display: flex;
  height: 75px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  /* margin-bottom: 30px; */

}

/* Navbar items on the right */
.nav__end {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 10px;
  margin-left: 10px;
}

.nav__item:hover {
  color: rgb(3, 82, 96)
}

.nav__logo__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__logo {
  width: 200px;
  margin-right: 20px;
}

.nav__logo__text {
  font-weight: bold;
  font-size: 1.5rem;
}

/* hamburger menu */
.nav__menu-icon {
  font-size: 3rem;
  cursor: pointer;
  padding-bottom: 8px;
  display: none;
}

.nav__end {
  display: flex;
  align-items: center;
}

/*hamburger menu when opened*/
.nav__end--open {
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 95px;
  right: 0;
  background-color: #ffffff87;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 25px;
  z-index: 1;
  margin: 5px 0;
}


/* Media query for small screens to show the hamburger icon */
@media (max-width: 768px) {
  .nav {
    height: 100px;
  }
  .nav__logo {
    width: 250px;
  }

  .nav__logo__text {
    font-size: 1.5rem;
  }

  .nav__item {
    padding-top: 15px;
  }

  .nav__menu-icon {
    display: block;
  }

  .nav__end {
    display: none;
  }

  .nav__end--open {
    display: flex;
  }
}