.new-listing {
  padding-top: 20px;
}

.new-listing h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.new-listing-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #0000001a;
}

.address-detail {
  display: flex;
  flex-direction: row;
}

.address {
  border-right: 1px solid #ccc;
}

.form-section {
  padding: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.last-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#backButton,
input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  transition: background-color 0.3s;
  width: 220px;
}

#backButton:hover,
input[type="submit"] {
  background-color: #0056b3;
}

label {
  font-size: 13px;
}

.card {
  box-shadow: 0 0 5px #ffdfdf;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  width: 80%;
}

.card .top {
  text-align: center;
}

.section-text {
  color: #001c55;
  font-weight: bold;
}

.card .drag-area {
  background: #f4f3f9;
  border: 2px dashed #0086fe;
  border-radius: 5px;
  color: #0086fe;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  margin-top: 10px;
  user-select: none;
  -webkit-user-select: none;
}

/* .card .drag-area .visible {
  font-size: 18px;
} */

.drop-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.select-image {
  color: #5256ad;
  cursor: pointer;
  /* margin-left: 5px; */
  text-decoration: underline;
  transition: 0.4s;
}

.select-image:hover {
  opacity: 0.6;
}

.card .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  height: auto;
  width: 100%;
}

.container p {
  color: #f00;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.image {
  margin-bottom: 8px;
  margin-right: 5px;
  position: relative;
  height: 75px;
  width: 75px;
}
 
.image img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.image .delete {
  color: #f00;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 9px;
  top: -2px;
  z-index: 999;
}

.card input,
.card .drag-area .on-drop,
.card .drag-area.dragover .visible {
  display: none;
}
