.search__box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.search {
  position: relative;
}

.search button,
.search span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search > * > svg {
  display: block;
}

.search span {
  left: 20px;
  opacity: 0.5;
  margin-top: 1px;
}

.search button {
  right: 20px;
  left: auto;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  color: #33333392;
}

.search button:hover {
  color: rgba(1, 44, 51, 0.796);
}

.search input {
  box-sizing: border-box;
  display: block;
  width: 550px;
  height: 60px;
  border-radius: 5px;
  padding: 0 50px 0 45px;
  font-size: 20px;
  outline: none;
  border: 2px solid #b4b3b4;
  background: white;
}

clear-button {
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

/* CUSTOME_CLASS FOR NAVBAR SEARCHBAR */

.nav__searchBar input {
  width: 300px;
  height: 40px;
  border: 1.5px solid black;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .search input {
    width: 250px;
    height: 40px;
  }
}
